[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
dataclasses = "*"
dataclasses-json = "*"
pygltflib = "*"
prettyprinter = "*"
numpy = "*"
pyquaternion = "*"
matplotlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
